
.cover-container {
    width: 210mm;
    height: 297mm;
    padding: 5mm;
    background: linear-gradient(to right, rgb(227, 225, 221), rgb(238, 236, 232));
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    page-break-inside: avoid;
    page-break-after: auto;
    margin: 0;
}


.left-section {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 12mm;
    position: relative;
    white-space: nowrap;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 130px;
    left: 10px;
    position: relative;
}

.logo {
    width: 35px;
    height: 35px;
    margin-bottom: 20px;
    position: relative;
    left: 100px;
}

.doc-title {
    font-size: 1.7em;
    color: rgb(90, 90, 90);
    margin: 0;
    position: relative;

}

.vertical-separator {
    left: 37%;
    width: 1px;
    height: 400px;
    background-color: rgb(95, 95, 95);
    display: block;
    position: relative;
}

.right-section {
    width: 60%;
    text-align: left;
    padding-left: 20px;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.company-name,
h2 {
    font-size: 1.6em;
    color: #000;
    margin: 0;
    position: absolute;
    top: -202px;
    left: 50px;
    letter-spacing: 0.03em;
}

.horizontal-separator {
    border: none;
    background-color: rgb(95, 95, 95);
    margin: 40px 0;
    width: 195px;
    height: 1px;
    display: block;
    position: absolute;
    left: 8px;
    top: 76px;
}

.date {
    font-size: 1em;
    color: rgb(75, 75, 75);
    margin: 0;
    position: absolute;
    top: 136px;
    left: 75px;
}

.time {
    font-size: 0.6em;
    color: rgb(75, 75, 75);
    margin: 0;
    position: absolute;
    top: 160px;
    left: 100px;
}

.footer {
    position: fixed;
    bottom: 5px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: rgb(124, 86, 150);
}