.toc {
    width: 210mm;
    height: 297mm;
    padding: 10mm;
    background: linear-gradient(to right, rgb(227, 225, 221), rgb(238, 236, 232));
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    page-break-after: auto;
    page-break-inside: avoid;
    margin: 10mm;
    padding: 10mm;
}

.toc-left {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    white-space: nowrap;

}

.toc-left-text {
    color: rgb(90, 90, 90);
    padding: 10px;
    font-size: 1.3em;
    text-align: center;
    position: relative;
    top: 180px;
    left: 30px;
}

.toc-separator {
    left: 37%;
    width: 1px;
    height: 300px;
    background-color: rgb(95, 95, 95);
    /* margin: 0 10px; */
    /* position: relative; */
}

.toc-right {
    width: 60%;
    text-align: left;
    padding-left: 25px;
    box-sizing: border-box;
    flex-grow: 1;
    position: relative;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}

.toc-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.toc-right ul li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.toc-right ul li a {
    text-decoration: none;
    color: inherit;
}

.toc-right ul li span {
    margin-left: 10px;
    /* Add space between link and span */
}